fastapi
pymupdf==1.24.10
uvicorn
boto3
python-multipart
python-dotenv
pydantic
llama-index
transformers
torch
Pillow
python-pptx
pdf2image
pytesseract
pymilvus
llama_index
llama-index-llms-nvidia
llama-index-vector-stores-milvus


